@media(max-width: 840px){
    .body-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .info-flex{
        width: 100%;
        height: 488.5px;
    }

    .phone-flex{
        display: none;
    }

}